<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/styles.css" type="text/css" />
</head>

<body>
  <style>
    <% Object.keys(langs).forEach((lang, index)=> {
        %> .lang-<%=index %>::before {
          background: <%=colors[lang] %> !important;
        }

        <%
      }) %>
  </style>
  <div id="root">
    <h2>Most Used Languages</h2>
    <div id="content">
      <div class="pie-chart" style="<%= styles %>">
      </div>
      <div>
        <% Object.entries(langs).forEach(([lang, usage], index)=> { %>
          <div class="lang lang-<%= index %>" %>">
            <%= lang %>
              <%= usage %>%
          </div>
          <% }) %>
      </div>
    </div>
  </div>
</body>

</html>
